<!DOCTYPE html>
<html>
<head>
    <meta c`harset="utf-8">
    <title>Toaster</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/theme.css"/>
    <link rel="stylesheet" href="/static/css/material-icons.css">
</head>
<body>

    {{{body}}}

</body>
<script src="/static/js/vue.js"></script>
<script src="/static/js/main.js"></script>
</html>
