<div class="d-flex align-items-center h-100">
	<div class="container text-center">
		<div id="app">
	  		<div class="h3 mb-3">\{{ hl }}</div>
	  		<div v-bind:class="{ 'alert alert-danger' : error }">\{{wifiData}}</div>
		</div>
	</div>
</div>	
