<div class="d-flex align-items-center h-100">
	<div class="container text-center">
		<div id="app">
	  		<div class="h3 mb-3">\{{ hl }}</div>
	  		<div v-if="error" v-bind:class="{ 'alert alert-danger' : error }">
				\{{wifiData}}
			</div>
			<div v-else>
				<div v-for="item in wifiData" :key="item.mac">\{{item.essid}} - \{{item.quality}}</div>
			</div>
		</div>
	</div>
</div>	
