
:root {
	--bg-color: #0f0022;
}
body,html{
	height:  100%;
}
body{
	background: var(--bg-color);
	color:  #fff;
	overflow-x: hidden;
}

.btn-ico{
	max-width: 25px;
    height: 20px;
    margin-top: -5px;
    position: relative;
    top: 6px;
}